<launch>

	<param name = "manipulator_params" value = ""/>
<rosparam >
tool_vec:
 x: 0
 y: 0
 z: 0
</rosparam>

	<node name = "dh_params_maker" pkg="manipulator" type="DH_check.py"/>

	<node name = "main_xacro_maker" pkg="manipulator" type="manipulator_main.py"/>

	<node name = "base_and_limits" pkg="manipulator" type="base_and_limits_maker.py" />

</launch>