<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="a0"    	value="0"	/>
	<xacro:property name="alpha0"	value="${0}"	/>
	<xacro:property name="d1"    	value="0"	/>
	<xacro:property name="L1"    	value="0.0"	/>
	<xacro:property name="phi1"    	value="0.0"	/>

	<xacro:property name="a1"    	value="0"	/>
	<xacro:property name="alpha1"	value="${pi/2.0}"	/>
	<xacro:property name="d2"    	value="2"	/>
	<xacro:property name="L2"    	value="2.0"	/>
	<xacro:property name="phi2"    	value="0.0"	/>

	<xacro:property name="a2"    	value="0"	/>
	<xacro:property name="alpha2"	value="${pi/2.0}"	/>
	<xacro:property name="d3"    	value="1.5"	/>
	<xacro:property name="L3"    	value="1.5"	/>
	<xacro:property name="phi3"    	value="0.0"	/>

	<xacro:property name="a3"    	value="1"	/>
	<xacro:property name="alpha3"	value="${0}"	/>
	<xacro:property name="d4"    	value="1"	/>
	<xacro:property name="L4"    	value="1.41421356237"	/>
	<xacro:property name="phi4"    	value="0.785398163397"	/>

</robot>